.app__video {
  height: 100vh;
  width: 100%;
  position: relative;
}

.app__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app__video-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

.app__video-overlay_circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid var(--color-golden);
  color: var(--color-golden);
  cursor: pointer;
}
