.app__newsletter {
  border: 1px solid var(--color-golden);
  padding: 2rem 4rem;
  background-color: var(--color-black);
}
.app__newsletter-heading {
  text-align: center;
}
.app__newsletter-input {
  margin-top: 3rem;
}
.app__newsletter-input input[type="email"] {
  flex: 1;
  margin-right: 2rem;
  border: 1px solid var(--color-golden);
  background: transparent;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  color: var(--color-white);
  font-size: 1rem;
  font-family: var(--font-base);
}

.app__newsletter-input input[type="email"]::placeholder {
  text-transform: capitalize;
}

@media (min-width: 2000px) {
  .app__newsletter-input input[type="email"] {
    font-size: 2rem;
  }
}

@media (max-width: 1050px) {
  .app__newsletter-input {
    flex-direction: column;
  }
  .app__newsletter-input input[type="email"] {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 650px) {
  .app__newsletter {
    border: none;
    padding: 2rem 0;
  }
}
